/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
#  Main CSS is copyrigted by Linuxy of 2019  #
#       - https://www.linuxydev.net -         #
#          - contact@linuxydev.net -          #
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
/*
##
# - Google Fonts and other imports -
##
*/
/* Google Font - Montserrat  */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,200i,400,600&display=swap');

/*
##
# - Dev and header Classes and others -
##
*/
h1.content {
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  color: #4d4e4f;
  padding: auto 30px auto 30px;
  font-size: 35px;
}

h4.content {
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  color: #4d4e4f;
  padding: auto 30px auto 30px;
  font-size: 25px;
}

img.content {
  width: 50%;
  height: auto;
  padding: 70px;
}

h2.content {
  font-weight: 200;
  font-family: "Montserrat";
  color: #4d4e4f;
  text-align: center;
}

img.i-content _ {
  width: 25%
}

img.id-content {
  width: 65%;
  height: auto;
  padding: 70px;
}


p.content {
  font-weight: 200;
  font-size: 22px;
  color: #4d4e4f;
  font-family: "Montserrat";
  text-align: left;
  padding: 70px;
}

a.content {
  text-decoration: none;
  color: #4d4e4f;
  font-weight: 200;
  font-size: 22px;
  font-family: "Montserrat";
  text-align: center;
}

.topmenu:a {
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

h1.w-content {
  color: #fff;
  padding: auto 70px auto 70px;
  font-weight: 400;
  font-size: 40px;
  font-family: "Montserrat";
  text-align: center;
}

p.w-content {
  color: #fff;
  padding: auto 70px auto 70px;
  font-weight: 300;
  font-size: 25px;
  font-family: "Montserrat";
  text-align: left;
}

a.w-content {
  color: #fff;
  padding: auto 70px auto 70px;
  font-weight: 300;
  font-size: 18px;
  font-family: "Montserrat";
  text-align: left;
}

/*

##
# - Menu -
##

*/
/* Add a black background color to the top navigation */
header {
  margin-bottom: 300px;
}

.topmenu {
  overflow: hidden;
  text-align: center;
  z-index: 38;
  padding: 30px;
  margin-bottom: 100px;
}

/* Style the links inside the navigation bar */
.topmenu a {
  float: center center;
  color: #4d4e4f;
  text-align: center center;
  padding: 20px 16px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topmenu a:hover {
  color: #4d4e4f;
}

/* Add a color to the active/current link */
.topmenu a.active {
  color: rgb(5, 58, 250);
}

/* Right-aligned section inside the top navigation */
.topmenu-right {
  float: right;
}

/*
  padding: 20px 16px;
##
# - body content -
##

*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.rev_slider_wrapper {
  height: 230px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #fff;
  text-align: center;
}

body {
  margin: 0px;
}
footer {
  background: #fff;
  padding: 0px 20px 0px 20px;
  text-align: center;
}
p.f-content {
  color: #4d4e4f;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.tp-caption {
color: #fff;
font-weight: 200;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}

.NotGeneric-Title {
  color: #fff;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.title-monsterrat-light {
  color: #fff;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}
.title-monsterrat-heavy {
  color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
