.colour-block {
  background: rgb(6, 82, 247);
  width: 100%;
  padding: 7% 5% 19% 5%;
}

.white-block {
  background: #fff;
  width: 100%;
  padding: 7% 5% 7% 5%;
}

/*------------------*/
/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to left bottom, #fff 49%, rgb(6, 82, 247) 50%);
}

/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, rgb(6, 82, 247) 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
}
